body { padding:10px;font-family: Arial, Helvetica, sans-serif;}
#pageContent { width:800px; margin:0 auto 0 auto; }
#headerRow { overflow:auto;  }
#headerLeft { float:left; }
#headerRight { float:right; }
#buttonRow { width:100%; overflow:auto; margin:10px 0 15px 0; }
#selectLang { 
    float:left;
    font-size:12pt;
}
#btnSubmitPost {
    display:block; 
    float:left; 
    font-size:12pt;
}
#loadingDiv { display: none; width:200px; float:left; }
#loadingMessage div { float:left; margin:0 0 0 10px; }
#loadingImage img { width:18px; float:left; margin:0 0 0 10px; }
h1 { font-size: 14pt; }
h2 { font-size: 12pt; float:left; margin:0; padding:0; }
textarea {
    clear:both;
    font-family: "Courier New", Courier, monospace;
    margin:0; 
    padding:8px;
    font-size:11pt;
}
table { 
    border-collapse:collapse;
    width:800px;
    }
th { padding: 4px; font-size:11pt; }
td { padding: 4px; font-size:11pt; }
#actionsRow { margin: 5px 0 5px 0; }
a.tab { margin: 0 10px 5px 0; } 
a.tabRight { float:right; margin:0 0 0 5px; }
#inputText {
    display:block; 
    width:800px;             
}
#textMarked { 
    display:none; 
    font-family: "Courier New", Courier, monospace;
    font-size:11pt;
    width:780px;  
    min-height:250px;
    border:1px solid black;
    padding:8px; 
}
#textMarked span {
    padding:2px 2px 0 2px;
    background-color: rgb(255,255,0); 
    border-radius: 4px;
}
#links { 
    display:none; 
    font-size:11pt;
    width:780px;  
    min-height:250px;
    border:1px solid black;
    padding:8px; 
}
#xslOutput { display:none; }
#xmlOutput { display:none; }
#xmlOutputText { width:800px; }
p.line { margin: 0 0 4px 0; }
span.e { 
    padding:2px 2px 0 2px;
    background-color: rgb(255,255,0); 
    border-radius: 4px;
}
#testText { display:none; }
.myQtipStyle .qtip-content {
font-size:14px;
max-width:300px;
}
